<launch>
  <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
    <param name="ip_address" value="192.168.0.10"/>
    <param name="frame_id" value="/camera"/>
    <remap from="most_intense" to="/lidar_scan"/>
  </node>
  <node name="motion_generator" pkg="thormang_head_lidar" type="motion_generator" output="screen"/>
</launch>
