<launch>
  <!--arg name="model" /-->
  <!--arg name="gui" default="False" /-->
  <param name="robot_description"
    textfile="$(find dyros_jet_description)/robots/dyros_jet_robot.urdf" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <!--param name="/use_gui" value="true" /-->
  <!--/node-->

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
</launch>
