<launch>
  <include file="$(find imu_3dm_gx4)/launch/imu.launch" />
  <include file="$(find thormang_head_lidar)/launch/lidar.launch" />
  <include file="$(find dyros_jet_launch)/launch/common.launch" />
  <node name="rt_dynamixel" pkg="rt_dynamixel" type="rt_dynamixel_node" respawn="false" output="screen" />
  <node name="ft_sensor" pkg="sensoray826" type="ati_ft_sensor_node" respawn="false" output="log" />
  <node name="dyros_jet_controller" pkg="dyros_jet_controller" type="dyros_jet_controller" required="true" respawn="false" output="screen">
    <param name="run_mode" type="string" value="real_robot" />
  </node>
</launch>

