<launch>
  <include file="$(find imu_3dm_gx4)/launch/imu.launch" />
  <include file="$(find dyros_jet_dynamixel_x_interface)/launch/lidar.launch" />
  <include file="$(find dyros_jet_launch)/launch/common.launch">
    <arg name="run_mode" value="real_robot" />
  </include>

  <node name="rt_dynamixel" pkg="rt_dynamixel" type="rt_dynamixel_node" respawn="false" output="screen" />
  <node name="ft_sensor" pkg="sensoray826" type="ati_ft_sensor_node" respawn="false" output="log" />

</launch>

